AdvancedAnalyticsWithSpark/MusicRecommender/project/.bsp
AdvancedAnalyticsWithSpark/MusicRecommender/project/.idea
AdvancedAnalyticsWithSpark/MusicRecommender/project/project
AdvancedAnalyticsWithSpark/MusicRecommender/project/target
AdvancedAnalyticsWithSpark/MusicRecommender/project/src/user